/vendor
/.env
/.env.*
!/.env.example
.phpunit.result.cache
.phpunit.cache
/storage/*.key
/storage/pail
/storage/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*.php
Homestead.json
Homestead.yaml
/.nova
forge.deploy.sh
.env.production
/.idea
/.zed
/.fleet
/public/storage
/public/build
/public/hot
composer.phar
auth.json
/node_modules
npm-debug.log
yarn-error.log
/resources/js/.vite
resources/js/.vitepress
resources/js/dist
resources/js/.temp
resources/js/.cache
/.vscode
/.phpactor.json
/.phpstorm.meta.php
/.history
.DS_Store
Thumbs.db
*.bak
*.tmp
*.swp
*.swo
*~
coverage/
*.log